# Set the fidesctl core team as the default codeowners

* @ethyca/fidesctl-team

# Set the product/tech writing team as owners for the docs

mkdocs/ @ethyca/docs-authors
README.md @ethyca/docs-authors
